<span style="color: #000; font-weight: bold;">
  <center>
    <h1>Please email Phyllis with all inquiries:</h1>
    <h2><a href="mailto:phyllisneiderartist@gmail.com">phyllisneiderartist@gmail.com</a></h2>
  </br>


  <h3>All the paintings are for sale.
  Include your name, email address, phone number and a brief message.
  Phyllis will keep you updated on future exhibits. </h3>

  </center>
</span>
