<h3 style="color: #000; font-weight: bold;">Phyllis Neider is an accomplished artist in watercolor, acrylic and photography.  She received her B.F.A. in advertising design from the School of Visual & Performing Arts at Syracuse University.  Presently she studies watercolor with Linda Perlmutter, originator of the Odyssey Art at Sea Program.</h3>

<h3 style="color: #000; font-weight: bold;">She has exhibited her watercolors, acrylics and photographs in juried and solo shows throughout Westchester County, NY since 2004. Phyllis has been sharing her passion for art on Crystal Cruises through Odyssey Art at Sea since 2003. </h3>

<h3 style="color: #000; font-weight: bold;">Solo exhibits in New York include Moonbean Café, the Haven Spa, Good Food Restaurant, Club Fit Briarcliff and Club Fit Jefferson Valley, Briarcliff Manor, Warner, Ossining, Mt. Pleasant and Greenburgh Public Libraries. </h3>

<h3 style="color: #000; font-weight: bold;">Phyllis is a member of the Odyssey Art Watercolor Society, The Westchester Arts Council, Ossining Arts Council, and the Briarcliff Committee for the Arts.</h3>

<h3 style="color: #000; font-weight: bold;">Watercolor is transparent and allows her to recreate nature’s beauty through layering the paints.  She uses a vibrant palette to create bold florals and landscapes.  Her bright colors transport the viewer to a fantasy world. </h3>

<h3 style="color: #000; font-weight: bold;">Phyllis lives in Westchester County, NY with her husband Calvin. She has two grown children. </h3>
