<li class="span3" data-id="<%= painting.id %>" data-type="<%= painting.category %>">
  <a href="<%= painting.filename %>" class="thumbnail">
      <%= image_tag(painting.filename.downcase) %>
      <span class="caption"><i class="icon-plus-sign"></i></span>
  </a>
</li>