 <div class="masthead clearfix">
      
    <div class="container">
      
      <div class="logo pull-left">Phyllis Neider</div>
      
      <div class="socials pull-right">
        <a href=""><i class="icon-twitter"></i></a> <!-- your twitter link -->
        <a href=""><i class="icon-facebook"></i></a> <!-- your facebook link -->
        <a href=""><i class="icon-linkedin"></i></a> <!-- your linkedin link -->
        <a href=""><i class="icon-pinterest"></i></a> <!-- your pinterest link -->
        <a href=""><i class="icon-envelope"></i></a> <!-- your email address -->
      </div>
      
    </div>
    
  </div>
  
  
  <div class="container">
    
    <div class="clearfix">
    
    <ul class="filter-nav">
      <li class="active"><a data-id="all" href="">All</a></li>
      <li><a data-id="flowers" href="">Flowers</a></li>
      <li><a data-id="leaves" href="">Leaves</a></li>
      <li><a data-id="landscapes" href="">Landscapes</a></li>
      <li><a data-id="under_the_sea" href="">Under The Sea</a></li>
      <li><a data-id="animals" href="">Animals</a></li>
      <li><a data-id="abstract" href="">Abstract</a></li>
    </ul>
    
    </div>
    
    <ul class="thumbnails" id="thumbnails">

      <%= render @paintings %>
      
    </ul>
    
  </div>
  
  <!-- Javascript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/shadowbox/shadowbox.js"></script>
    <script type="text/javascript" src="assets/js/jquery.easing.js"></script>
    <script type="text/javascript" src="assets/js/jquery.quicksand.js"></script>
    <script src="assets/js/photographer.js"></script>

</body>
</html>