<!DOCTYPE html>
<html>
<head>
  <title>Phyllis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Styles -->
    <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/photographer.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/js/shadowbox/shadowbox.css">
</head>
<body>

 <div class="masthead clearfix">


<nav class="navbar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><div class="logo pull-left">Phyllis Neider</div></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/the_artist">The Artist</a></li>
        <li><a href="/Resume.pdf" target="blank">Resume</a></li>
        <li><a href="/guestbook">Guestbook</a></li>
        <li></ul>

      <ul class="nav navbar-nav navbar-right">
        <div class="socials pull-right">
        <a href="https://www.facebook.com/phyllisneiderartist"><i class="icon-facebook"></i></a> <!-- your facebook link -->
        <!--<a href=""><i class="icon-linkedin"></i></a> -->
        <a href="/guestbook"><i class="icon-envelope"></i></a> <!-- your email address -->
      </div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


  </div>

<%= yield %>

</body>
</html>








