<!DOCTYPE html>
<html>
<head>
  <title>Phyllis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Styles -->
    <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/photographer.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/js/shadowbox/shadowbox.css">

</head>
<body>
	

<%= yield %>

</body>
</html>



	




