<!DOCTYPE html>
<html>
<head>
  <title>Phyllis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Styles -->
    <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/photographer.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/js/shadowbox/shadowbox.css">

</head>
<body>
	

 <div class="masthead clearfix">
      
    <div class="container">
      
      <div class="logo pull-left">Phyllis Neider</div>
      
      <div class="socials pull-right">
        <a href=""><i class="icon-twitter"></i></a> <!-- your twitter link -->
        <a href=""><i class="icon-facebook"></i></a> <!-- your facebook link -->
        <a href=""><i class="icon-linkedin"></i></a> <!-- your linkedin link -->
        <a href=""><i class="icon-pinterest"></i></a> <!-- your pinterest link -->
        <a href=""><i class="icon-envelope"></i></a> <!-- your email address -->
      </div>
      
    </div>
    
  </div>

<%= yield %>

</body>
</html>



	




